.btn-nav{
    margin-left: 10px;
}

.header{
    border-bottom: solid 1px;
}
.main{
    margin-top: 30px;
    border-bottom: solid 1px;
}

.container-tems{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

    margin-bottom: 30px;
}

.item{
    height: auto;
    margin-left: 10px;
    background-color: #e2e1e1;
    width: 270px;
}

.item .img-btn{
    width: 220px;
    height: 200px;
    position: relative;
    z-index: 2;
    left: 28px;
}
.item .img{
    width: 270px;
    height: 200px;
    margin-top: -85%;

}

.item p{
    margin: 6px 6px 6px 6px;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.container-links span{
    margin: 0 2.5px 0 2.5px;
}


.container-logo-sociaux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.container-logo-sociaux img{
    width: 60px;
    height: 60px;
}

.container-menu{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ButtonMenu{
    color: white;
    font-size: 3em;
}

.user img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerSideBar{
    justify-self: flex-end;
}

.container-btn{
    display: flex;
    flex-direction: column;
}
.container-btn button{
    margin-bottom: 10px;
}
#file{
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 3px;
  }
.container-input {
    width: 60%;
    max-width: 300px;

    display: flex;
}

.searchBtn{
    border: none;
    background-color: white;
}

.searchBtn svg{
    color: gray;
    font-size: 2em;
}
.main-profile{

}
.container-mentores{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    cursor: pointer;
    align-items: center;
    overflow-x: scroll;
    width: 86%;
}

.item-mentor{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-mentor img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.container-avantages{
    width: 86%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.item-avantage{
    width: 200px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.item-avantage img{
    width: 200px;
}

.item-avantage p{
    width: 200px;
    word-break: break-all;
    font-size: 1rem;
}

.container-search{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    align-items: stretch;
    justify-content: space-around;
}
.item-search{
    cursor: pointer;
    border: solid grey 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-top: 10px;
    height: -webkit-fill-available;
    overflow: hidden;
    max-height: 360px;
    height: 360px;
}
.item-search img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
}
.item-search p{
    width: 90%;
    word-break: break-all;
    font-size: 1rem;
    margin-left: 10px;
}

.btn-side-bar{
    color: white!important;
}

.containe-age{
    display: flex;
    flex-direction: column;
}
.containe-age .react-datepicker-wrapper .react-datepicker__input-container input{
    width: 100%;
}

.container-target{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.p1 button{
    margin-right: 120px;
    width: fit-content;
    height: 40px;
    color: #343a40!imprtant;
}
.p button:hover{
    color: white!important;
}

.image-target{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image-target img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.image-target div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.image-target div p{
    margin: 0;
}

.p2{
    width: 80%;
    margin-top: 15px;
    margin-left: 10px;
    align-self: flex-start;
}