.btn-nav{
    margin-left: 10px;
}

.header{
    border-bottom: solid 1px;
}
.main{
    margin-top: 30px;
    border-bottom: solid 1px;
}

.container-tems{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

    margin-bottom: 30px;
}

.item{
    height: auto;
    margin-left: 10px;
    background-color: #e2e1e1;
}

.item .img-btn{
    width: 220px;
    height: 200px;
    position: relative;
    z-index: 2;
    left: 28px;
}
.item .img{
    width: 270px;
    height: 200px;
    margin-top: -85%;

}

.item p{
    margin: 6px 6px 6px 6px;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.container-links span{
    margin: 0 2.5px 0 2.5px;
}


.container-logo-sociaux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.container-logo-sociaux img{
    width: 60px;
    height: 60px;
}

.container-mentor{
    margin-top: 30px;
}

.container-mentor .item{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-mentor img{
    width: 100px;
    height: 90px;

    border-radius: 100%;
}

.sideBar{
    width: 0vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
}
.iconSideBar{
    position: relative;
    right: 0vw;
}

.animVisibleIconeSideBar{
    animation-duration: .6s;
    animation-name: animVisibleIconeSideBar;
    animation-fill-mode: both;
}

@keyframes animVisibleIconeSideBar{
    from{
        right: 0vw;
    }to{
        right: 25vw;
    }
}

.animHiddenIconeSideBar{
    animation-duration: .6s;
    animation-name: animHiddenIconeSideBar;
    animation-fill-mode: both;
}

@keyframes animHiddenIconeSideBar{
    from{
        right: 25vw;
    }to{
        right: 0vw;
    }
}

.animVisibleSideBar{
    animation-duration: .6s;
    animation-name: animVisibleSideBar;
    animation-fill-mode: both;
}

@keyframes animVisibleSideBar{
    from{
        width: 0vw;
    }to{
        width: 30vw;
    }
}

.animHiddenSideBar{
    animation-duration: .6s;
    animation-name: animHiddenSideBar;
    animation-fill-mode: both;
}

@keyframes animHiddenSideBar{
    from{
        width: 30vw;
    }to{
        width: 0vw;
    }
}

.burn{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b2b2b26e;
}
.burn{
    background-color: #b2b2b26e!important;
}