.btn-nav{
    margin-left: 10px;
}

.header{
    border-bottom: solid 1px;
}
.main{
    margin-top: 30px;
    border-bottom: solid 1px;
}

.container-tems{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;

    margin-bottom: 30px;
}

.item{
    height: auto;
    margin-left: 10px;
    background-color: #e2e1e1;
    width: 270px;
}

.item .img-btn{
    width: 220px;
    height: 200px;
    position: relative;
    z-index: 2;
    left: 28px;
}
.item .img{
    width: 270px;
    height: 200px;
    margin-top: -85%;

}

.item p{
    margin: 6px 6px 6px 6px;
}

footer{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.container-links span{
    margin: 0 2.5px 0 2.5px;
}


.container-logo-sociaux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.container-logo-sociaux img{
    width: 60px;
    height: 60px;
}

.container-menu{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ButtonMenu{
    color: white;
    font-size: 3em;
}

.user img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerSideBar{
    justify-self: flex-end;
}

.container-btn{
    display: flex;
    flex-direction: column;
}
.container-btn button{
    margin-bottom: 10px;
}
#file{
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 3px;
  }